*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    background:  rgb(255, 204, 255)
}

.memory-game {
    width: 640px;
    height: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    background: rgb(102, 0, 102, 0.4);
    perspective: 1000px;
}

.memory-card {
    width: calc(25% - 20px);
    height: calc(33.333% - 20px);
    margin: 10px;
    position: relative;
    border: 5px solid rgb(102, 0, 102);
    border-radius: 10px;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
}

.memory-card.flip{
    transform: rotateY(180deg);
}

.memory-card:active {
    transform: scale(.97);
    transition: transform 0.2s;

}

.front-face, .back-face {
    width: 100%;
    height: 100%;
    padding: 30px;
    position: absolute;
    border-radius: 5px;
    background: black;
    backface-visibility: hidden;
}

.front-face {
    transform: rotateY(180deg);
}

img {
    width: 100px;
}